h1{
    color: blue;
    text-align: center;
}

p{
    color: blue;
    text-align: center;
}
 body{
    background-color: red;{

    }
 }
.image{
    background-image: ;
}

.button {
    color: blue;
    text-align: center;
}
.mostra-resultado{

}

